<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="sdt.hyperlinks.ServiceXmlHyperlinks"
            id="SDT.ServiceXmlHyperlinks"
            name="ServiceXmlHyperlinks"
            targetId="org.eclipse.core.runtime.xml">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="sdt.hyperlinks.DaoHyperlinks"
            id="SDT.DaoHyperlinks"
            name="DaoHyperlinks"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="SofaPlugin"
            name="Alipay Sofa">
      </category>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.newservice.NewServiceWizard"
            icon="icons/green.png"
            id="SDT.NewServiceWizard"
            name="Sofa Service">
      </wizard>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.newdal.NewSofaDalWizard"
            icon="icons/orange.png"
            id="SDT.NewDalWizard"
            name="Sofa Dal">
      </wizard>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.newproject.NewProjectWizard"
            icon="icons/group.png"
            id="SDT.NewProjectWizard"
            name="Sofa Project">
      </wizard>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.newcontroller.NewControllerWizard"
            icon="icons/blue.png"
            id="SDT.NewControllerWizard"
            name="Sofa Controller">
      </wizard>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.newclient.NewClientWizard"
            icon="icons/orange.png"
            id="SDT.NewClientWizard"
            name="Sofa Client">
      </wizard>
      <wizard
            category="SofaPlugin"
            class="sdt.wizards.adddependency.AddDependencyWizard"
            icon="icons/blue.png"
            id="SDT.AddDependency"
            name="Add Dependency">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sdt.preference.PreferencePage"
            id="SDT.PreferencePage"
            name="Sofa">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="SDT.OpenDir"
            objectClass="org.eclipse.ui.IWorkingSet">
            <action
                  class="sdt.opendir.OpenWorkingSet"
                  enablesFor="1"
                  icon="icons/blue.png"
                  id="sdt.opendir.OpenWorkingSet"
                  label="Open Working Set"
                  menubarPath="additions"
                  overrideActionId="org.easyexplore.actions.EasyExploreAction">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="SDT.GenerateCommentCategory"
            description="SDT Generate Comment Command"
            id="SDT.GenerateCommentCommand"
            name="SDT Generate Comment Command">
      </command>
      <category
            description="SDT Generate Comment Category"
            id="SDT.GenerateCommentCategory"
            name="SDT Generate Comment Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sdt.generator.comment.CommentHandler"
            commandId="SDT.GenerateCommentCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SDT.GenerateCommentCommand"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+L">
      </key>
   </extension>

</plugin>
