# if(type=="parent") {

			<dependency>
				<groupId>com.alipay.{system}</groupId>
				<artifactId>{project}</artifactId>
				<version>1.0.0</version>
			</dependency>
# } else if(type=="module") {

    <module>{module}</module>
# } else if(type=="test") {

		<dependency>
			<groupId>com.alipay.{system}</groupId>
			<artifactId>{project}</artifactId>
		</dependency>
# } else if(type=="ace") {

								<artifactItem>
									<groupId>com.alipay.{system}</groupId>
									<artifactId>{project}</artifactId>
								</artifactItem>
# }