manifest	=F {project}/src/main/resources/META-INF/MANIFEST.MF
spring		=F {project}/src/main/resources/META-INF/spring/{projectSpring}.xml
fragment	=F {project}/src/main/resources/OSGI-INF/deployment-fragment.xml
pom			=F {project}/pom.xml
project		=F {project}/.project
