package {clientPackage};

#for(i in facade.imports) {
import {facade.imports[i]};
# }

public interface {client} {

#for(i in facade.methods){
#	m=facade.methods[i];
	public {m.rt} {m.name} ({m.pts});
	
# }
}