# today = new Date();
# user = java.lang.System.getenv("USERNAME");
/**
 * Alipay.com Inc.
 * Copyright (c) 2004-{today.getFullYear()} All Rights Reserved.
 */
 package {implPackage};

#for(i in facade.imports) {
import {facade.imports[i]};
# }
import {facade.fullName};
import {clientPackage}.{client};

/**
 * 
 * @author {user}
 * @version $$Id: {impl}.java, v 0.1 {new Date().toLocaleString()} {user} Exp $$
 */
public class {impl} implements {client} {

	private {facade.name} {facade.objectName};

#for(i in facade.methods){
#	m=facade.methods[i];
	public {m.rt} {m.name} ({m.pts}) {
#if(m.rt=="void") {
		{facade.objectName}.{m.name}({m.pns});
# } else {
		return {facade.objectName}.{m.name}({m.pns});
# }
	}

# }
	public void set{facade.name}({facade.name} {facade.objectName}){
		this.{facade.objectName} = {facade.objectName};
	}

}