# today = new Date();
# user = java.lang.System.getenv("USERNAME");
/**
 * Alipay.com Inc.
 * Copyright (c) 2004-{today.getFullYear()} All Rights Reserved.
 */
package {packageName};

import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import com.alibaba.common.lang.StringUtil;

/**
 * 
 * @author {user}
 * @version $$Id: {className}.java, v 0.1 {new Date().toLocaleString()} {user} Exp $$
 */
@Controller
public class {className} {

    public static final String VIEW = "{fName}Detail.vm";
    public static final String LIST = "{fName}List.vm";
    public static final String OK   = "ok";
    public static final String STAT = "stat";

    /**
     * view is for add and edit
     * @param modelMap
     * @param id
     * @return EDIT
     */
    @RequestMapping(value = "/{fName}Detail.htm", method = RequestMethod.GET)
    public String view(ModelMap modelMap, String id) {
        if (!StringUtil.isEmpty(id)) {
            modelMap.addAttribute("opcode", "modify");
            Object result = null;
            modelMap.addAttribute("result", result);
        }
        return VIEW;
    }

    /**
     * add
     * @param modelMap
     * @param param
     */
    @RequestMapping(value = "/add{name}.json", method = RequestMethod.POST)
    public void add(ModelMap modelMap, String param) {
        Object result = null;
        modelMap.addAttribute("result", result);
        modelMap.addAttribute(STAT, OK);
    }

    /**
     * delete
     * @param modelMap
     * @param id
     */
    @RequestMapping(value = "/delete{name}.json", method = RequestMethod.POST)
    public void delete(ModelMap modelMap, String id) {
        Object result = null;
        modelMap.addAttribute("result", result);
        modelMap.addAttribute(STAT, OK);
    }

    /**
     * edit
     * @param modelMap
     * @param param
     */
    @RequestMapping(value = "/edit{name}.json", method = RequestMethod.POST)
    public void edit(ModelMap modelMap, String param) {
        Object result = null;
        modelMap.addAttribute("result", result);
        modelMap.addAttribute(STAT, OK);
    }

    /**
     * list all
     * @param modelMap
     * @param query
     * @return LIST
     */
    @RequestMapping(value = "/{fName}List.htm", method = { RequestMethod.GET, RequestMethod.POST })
    public String list(ModelMap modelMap, String query) {
        Object result = null;
        modelMap.addAttribute("result", result);
        modelMap.addAttribute(STAT, OK);
        return LIST;
    }

    /**
     * edit status
     * @param modelMap
     * @param id
     * @param status
     */
    @RequestMapping(value = "/edit{name}Status.json", method = { RequestMethod.GET, RequestMethod.POST })
    public void editStatus(ModelMap modelMap, Long id, String status) {
        Object result = null;
        modelMap.addAttribute("result", result);
        modelMap.addAttribute(STAT, OK);
    }

}
