# today = new Date();
# user = java.lang.System.getenv("USERNAME");
/**
 * Alipay.com Inc.
 * Copyright (c) 2004-{today.getFullYear()} All Rights Reserved.
 */
package {packageRoot}.dataobject;

# for(i in table.getImports()) {
import {table.getImports()[i]};

# }
/**
 * 
 * @author {user}
 * @version $$Id: {table.className}DO.java, v 0.1 {new Date().toLocaleString()} {user} Exp $$
 */
public class {table.className}DO {

# for(i in table.columns) {
#   var column = table.columns[i];
	/** column.javaName */
	private {column.javaTypeShort} {column.javaName};
# }

# for(i in table.columns) {
#   var column = table.columns[i];
    /**
     * Setter method for property <tt>${bare_field_name}</tt>.
     * 
     * @param ${field} value to be assigned to property ${bare_field_name}
     */
	public void {column.setMethod}({column.javaTypeShort} {column.javaName}){
		this.{column.javaName} = {column.javaName};
	}
	
	/**
     * Getter method for property <tt>${column.javaName}</tt>.
     * 
     * @return property value of {column.javaName}
     */
	public {column.javaTypeShort} {column.getMethod}(){
		return this.{column.javaName};
	}
	
# }

}
