package {packageRoot}.dataobject;

# for(i in table.getImports()) {
import {table.getImports()[i]};

# }
public class {table.className}DO {

# for(i in table.columns) {
#   var column = table.columns[i];
	private {column.javaTypeShort} {column.javaName};
# }

# for(i in table.columns) {
#   var column = table.columns[i];
	public void {column.setMethod}({column.javaTypeShort} {column.javaName}){
		this.{column.javaName} = {column.javaName};
	}
	
	public {column.javaTypeShort} {column.getMethod}(){
		return this.{column.javaName};
	}
	
# }

}
